.details {
    margin: 10px;
}

.details.top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: var(--layout-border);
}

.details.anchors {
    text-align: center;
    border-bottom: var(--layout-border);
}

.details.top > :first-child {
    display: flex;
    flex-direction: column;
}

.details.top > :first-child > img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.details.top > :last-child {
    padding-left: min(16px, 5%);
}

.details.controls {
    text-align: right;
}