.details {
    border: 1px solid red;
    margin: 10px;
}

.details.top {
    display: flex;
}

.details.anchors {
    text-align: center;
}

.details.top > :first-child {
    display: flex;
    flex-direction: column;
}

.details.top > :first-child > img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.details.top > :last-child {
    padding-left: 1rem;
}

.details.controls {
    text-align: right;
}

.details.controls button {
    min-width: 100px;
}