* {
    padding: 0;
    margin: 0;
    border: 0;
}

#root {
    display: flex;
    flex-direction: column;
    font-family: var(--text-font-family);
    min-height: 100vh;
}

.main_wrapper {
    display: flex;
    flex: 1;
    margin: 0 2rem 0 2rem;
}

#content {
    padding: 24px;
    flex-grow: 1;
}