* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

#root {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-family: var(--text-font-family);
    min-height: 100vh;
    line-height: 1.5;
}

.main_wrapper {
    display: flex;
    flex: 1;
    margin: 0 2rem 0 2rem;
}

#content {
    padding: 24px;
    flex-grow: 1;
}

.ql-container.ql-snow {
    height: calc(100% - 42px);
    max-width: 471px;
}