.card {
    border: var(--main-border);
    margin: 5px;
    padding: 8px 24px 8px 24px;
}

.card[aria-disabled="true"] {
    opacity: 0.8;
}

.card_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card_options {
    display: flex;
}

.card_options svg {
    cursor: pointer;
}

.content > p {
    margin: 5px 0 5px 0;
}

.credentials, .content, .categories, .title {
    color: var(--text-color-black);
}

.categories > ul {
    display: flex;
    list-style: none;
}

.categories > ul li {
    margin: 8px 8px 0 0;
    border-radius: 7px;
    padding: 6px;
    background-color: var(--text-color-black);
    color: whitesmoke;
}

h3 > a:link, h3 > a:visited {
    text-decoration: none;
    color: blue;
}