.header_list {
    list-style: none;
}

.header_list, .header_list > li, .header_left, .header_right, .search_group.form {
    display: flex;
}


.search_group, .search_group.form, .search_group.form > input {
    flex-grow: 1;
}

.search_parent {
    flex-grow: 2;
}

.search_group {
    margin: 0 1vw 0 1vw;
}

.header, #header_search {
    font-size: large;
    padding: 10px;
}

#header_search {
    border: 1px solid black;
    border-radius: 10px;
}

.header_left, .header_right {
    column-gap: 0.5vw;
    align-items: center;
}

.header_button {
    text-wrap: nowrap;
}
