.header_list {
    list-style: none;
}

.header_list, .header_list > li, .header_left, .header_right, .search_group.form {
    display: flex;
    flex-shrink: 1;
}


.search_group, .search_group.form, .search_group.form div, .search_group.form div > input {
    flex-grow: 1;
}

.search_parent {
    flex-grow: 2;
    margin: 0 5vw 0 5vw;
}


.header, #header_search {
    font-size: large;
    padding: 7px;
}

header {
    border-bottom: var(--layout-border);
    padding: 10px;
}

#header_search {
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
}
.header_left, .header_right, .search_parent {
    align-items: center;
}
.header_left, .header_right {
    column-gap: 0.5vw;
    align-items: center;
}
.user_avatar {
    display: flex;
    align-items: center;
}

.user_info {
    text-align: center;
    font-size: large;
    color: var(--text-color-black);
}


.fa.fa-search {
    font: normal normal normal larger FontAwesome
}

@media screen and (width <= 854px) {
    .header_list .search_parent {
        display: none;
    }
    .header_list {
        justify-content: space-between;
    }

    .header_right > :not(.new_post):nth-child(-n+3) {
        display: none;
    }

}


@media screen and (width <= 959px) {
    .search_parent {
        margin: 0;
        flex-grow: 1;
    }
}
