.sidebar {
    padding: 24px 24px 0 0;
    border-right: var(--layout-border);
}

.sidebar_list {
    list-style: none;
    position: sticky;
    top: 20px;
}

.sidebar_list > li > div > a{
    display: flex;
    padding: 8px;
    align-items: center;
}


.sidebar_list > li > div > a > p {
    padding-left: 8px;
}

.sidebar_list > li > div > a > img {
    max-width: 100%;
}