.sorting_options {
    display: flex;
    justify-content: flex-end;
    list-style: none;

}

.sorting_options > li a {
    text-decoration: none;
    padding: 9px;
    display: block;
}

.sorting_options > li a:visited, .sorting_options > li a:link {
    color: var(--text-color-black);
}


.sorting_container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    border: var(--main-border);
    padding: 3px;
    border-radius: 8px;
    align-self: flex-end;
}

.sorting_wrapper {
    display: flex;
    flex-direction: column;
}


.filter_container > button, .sorting_options {
    align-items: center;
}

.filter_container > button {
    display: flex;
    padding: 7px;
}