#register_form {
    justify-self: center;
	position: absolute;
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: lavender;
	border-radius: 5%;
}

#form_inputs {
	background-color: darkcyan;
	align-self: center;
}

#form_inputs input {
	border: none;
	width: -webkit-fill-available;
}

.field_wrapper {
	margin: 0.5rem;
}

.form_field {
	border: 1px solid black;
	border-radius: 2%;
}

.form_field input {
	padding: 0.5em;
}

.form_field input,
.error_message,
#submit_register {
	font-size: larger;
}

#submit_register {
	align-self: center;
	width: 50%;
	margin: 0.5rem;
}